---
import { getCollection, render } from "astro:content";
import PageLayout from "../../layouts/PageLayout.astro";

export async function getStaticPaths() {
  const SITE_LOCALE = import.meta.env.SITE_LOCALE || "fr";
  const allUsecases = await getCollection("usecases");
  return allUsecases
    .filter((entry) => entry.id.startsWith(`${SITE_LOCALE}/`))
    .map((entry) => ({
      params: { slug: entry.id.replace(`${SITE_LOCALE}/`, "") },
      props: { entry },
    }));
}

const { entry } = Astro.props;
const { Content, headings } = await render(entry);
---

<PageLayout
  title={entry.data.title}
  description={entry.data.description}
  metaTitle={entry.data.metaTitle}
  headings={headings}
  frontmatter={entry.data}
  isLocaleOnly={true}
>
  <a href="/realisations" class="relative -top-9 flex items-center no-underline text-sm"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m10 18l-6-6l6-6l1.4 1.45L7.85 11H20v2H7.85l3.55 3.55z"/></svg> Retour liste</a>
    <div class="flex gap-2 flex-col items-start flex-wrap not-prose bg-neutral-100 rounded p-6">
      <p class="font-semibold m-0 text-primary-900 p-0"><strong>Client :</strong> {entry.data.client}</p>
      <p class=" text-primary-800 p-0 m-0"><strong>Ville :</strong> {entry.data.city}</p>
      {
        entry.data.tools && entry.data.tools.length > 0 && (
          <div class="flex flex-wrap items-center gap-1.5 w-full">
            <p class="p-0 m-0 font-semibold text-primary-900"><strong>Technologies :</strong></p>
            {entry.data.tools.map((tool) => (
              <span class="text-xs bg-primary-800 text-white px-2 py-0.5 rounded">
                {tool}
              </span>
            ))}
          </div>
        )
      }
      {
        entry.data.urls && entry.data.urls.length > 0 && (
          <div class="flex flex-wrap items-center gap-2 w-full">
            <p class="p-0 m-0 font-semibold"><strong>Site{entry.data.urls.length > 1 ? 's' : ''} :</strong></p>
            {entry.data.urls.map((url) => (
              <a href={url} target="_blank" class="not-last:after:content-['/'] after:text-primary-700">
                {url}
              </a>
            ))}
          </div>
        )
      }
      {
        entry.data.services && entry.data.services.length > 0 && (
          <div class="flex flex-wrap items-center gap-2 w-full">
            <p class="p-0 m-0 font-semibold"><strong>Services liés :</strong></p>
            {entry.data.services.map((service) => (
              <a href={service.url} title={service.label} class="not-last:after:content-['/'] after:text-primary-700">
                {service.label}
              </a>
            ))}
          </div>
        )
      }

    </div>
  <Content />
  <div class="min-h-20"></div>
</PageLayout>
