---
import data from "../../data";
import Layout from "../layouts/BaseLayout.astro";
import Advantages from "../components/home/Advantages.astro";
import HeroHome from "../components/home/HeroHome.astro";
import LogoBlock from "../components/home/LogoBlock.astro";
import Services from "../components/home/Services.astro";
---

<Layout title={data.titleHome} description={data.descriptionHome}>
  <main>
    <HeroHome />
    <Services title="Nos services" text="" elements={data.services} />
    <Advantages />
    <LogoBlock
      title="Nos outils préférés"
      text="Après avoir analysé le besoin de votre projet, nous choisirons ensemble l'outil le plus adapté pour obtenir le meilleur résultat."
      elements={data.tools}
    />
    <LogoBlock
      title="Nos partenaires"
      text="Voici une liste de quelques entreprises avec lesquelles nous travaillons régulièrement. Merci à elles pour leur confiance."
      elements={data.partners}
    />
  </main>
</Layout>
