---
import speed from "../../../assets/images/speed.svg";
import secure from "../../../assets/images/secure.svg";
import green from "../../../assets/images/green.svg";

const title = "Notre obsession";
const text =
  "Faire des sites web c'est bien mais faire des sites web rapides, sécurisés et écologiques c'est mieux !";
const avantages = [
  {
    title: "Des sites web rapides !",
    image: speed,
  },
  {
    title: "Des sites web sécurisés !",
    image: secure,
  },
  {
    title: "Des sites web écologiques !",
    image: green,
  },
];
---

<div class="flex flex-col py-16">
  <div
    class="max-w-[80%] md:max-w-5xl w-full mx-auto my-2 md:my-5 text-center px-3"
  >
    <h2
      class="text-3xl w-auto md:text-5xl text-primary-900 font-semibold yellow-title"
    >
      {title}
    </h2>
    <p
      class="max-w-2xl text-center w-full mx-auto text-base text-gray-700 my-6 font-light"
    >
      {text}
    </p>
  </div>
  <div class="flex flex-col md:flex-row max-w-5xl my-6 w-full mx-auto px-6">
    {
      avantages.map((avantage) => (
        <div class="flex flex-col my-5 md:my-4 flex-1 text-center">
          <img
            src={avantage.image.src}
            width={avantage.image.width}
            height={avantage.image.height}
            alt=""
            class="w-28 h-28 mx-auto"
            loading="lazy"
            decoding="async"
          />
          <h3 class="text-lg text-primary-900 font-light mt-3 md:mt-8">
            {avantage.title}
          </h3>
        </div>
      ))
    }
  </div>
</div>
