---
import { Image, type LocalImageProps } from 'astro:assets';

export interface Props {
  title: string;
  text: string;
  elements: {
    image: LocalImageProps;
    title: string;
    class: string;
    place?: string;
    details?: string;
  }[];
}
const { title, text, elements } = Astro.props;
---

<div class="flex flex-col py-6 lg:py-10">
  <div class="md:max-w-7xl w-full mx-auto my-2 md:my-5 text-left px-4 md:px-10">
    <h2
      class="text-5xl sm:text-6xl w-auto md:text-8xl text-primary-900 font-semibold"
    >
      {title}
    </h2>
    <p
      class="max-w-7xl text-left w-full text-base text-gray-700 my-6 font-light"
    >
      {text}
    </p>
  </div>
  <div
    class="md:max-w-7xl mt-10 mb-20 w-full mx-auto px-6 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2"
  >
    {
      elements.map((element) =>  (
        <div
          class={`flex flex-col items-center justify-start w-full py-5 md:py-8 px-2 bg-alto-50`}
        >
          <div class="mb-2 flex items-center justify-center object-contain h-20">
            <Image
              src={element.image as any}
              width={element.image.width}
              height={element.image.height}
              alt={element.title}
              class={`${element.class}`}
              loading="lazy"
              decoding="async"
            />
          </div>
          {element.title && (
            <p class="text-xs text-gray-600 mt-2">
              {element.title}
            </p>
          )}
          {element.place && (
            <p class="text-xs text-gray-600 font-extralight">
              {element.place}
            </p>
          )}
          {element.details && (
            <h3 class="text-xs text-primary-900 font-light mt-3 max-w-[80%] text-center">
              {element.details}
            </h3>
          )}
        </div>
      ))
    }
  </div>
</div>
