---
import trio from "../../../assets/images/trio.svg";
import details from "../../../assets/images/details-sa.jpg";
import sleeps from "../../../assets/images/sleeps.png";
import tissot from "../../../assets/images/tissot.svg";
import strapi from "../../../assets/images/strapi.svg";
import mercredi from "../../../assets/images/mercredi.png";
import prism from "../../../assets/images/prism.jpg";
const tools = [
  {
    title: "Trio",
    image: trio,
    place: "Lausanne, Suisse",
    txt: "WordPress, Craft CMS, React.js",
    class: "w-28",
  },
  {
    title: "Details SA",
    image: details,
    place: "Geneve, Suisse",
    txt: "Expertise React.js",
    class: "w-16",
  },
  {
    title: "Editions Tissot",
    image: tissot,
    place: "Annecy, France",
    txt: "Expertise Next.js et Craft CMS",
    class: "w-16",
  },
  {
    title: "Sleeps",
    image: sleeps,
    place: "Paris, France",
    txt: "Maintenance & développement WordPress",
    class: "w-32",
  },
  {
    title: "Mercredi Biscuiterie",
    image: mercredi,
    place: "Lyon, France",
    txt: "Maintenance & développement WordPress",
    class: "w-16",
  },
  {
    title: "Prism-offrad",
    image: prism,
    place: "Annecy, France",
    txt: "Maintenance & développement WordPress",
    class: "w-20",
  },
];
---

<div class="flex flex-col py-10">
  <div class="max-w-5xl w-full mx-auto my-3 md:my-10 text-center px-3">
    <h2 class="text-3xl md:text-5xl text-primary font-semibold">
      Nos partenaires
    </h2>
    <p
      class="max-w-2xl text-center w-full mx-auto text-base text-gray-700 my-6 font-light"
    >
      Voici une liste que quelques entreprises avec lesquelles nous travaillons
      régulierement. Oui chez Goodmotion, nous aimons travailler sur le long
      terme.
    </p>
  </div>
  <div
    class="flex flex-col md:flex-row max-w-3xl mt-10 mb-20 w-full mx-auto justify-center lg:justify-between px-6 md:flex-wrap"
  >
    {
      tools.map((tool) => (
        <div class="flex flex-col items-center my-6 justify-center object-contain w-full md:w-1/3">
          <div class="mb-2 flex items-center h-20">
            <img src={tool.image} alt={tool.title} class={tool.class} />
          </div>
          <p class="text-xs text-gray-400 font-extralight">{tool.place}</p>
          <h3 class="text-xs text-primary font-light mt-3 max-w-[80%] text-center">
            {tool.txt}
          </h3>
        </div>
      ))
    }
  </div>
</div>
