---
export interface Props {
  title: string;
  subtitle?: string;
  color: Color;
  cta: Array<{ label: string; href: string }>;
}

const { title, color = "primary", subtitle, cta } = Astro.props;
---

<div class="pt-14 lg:pt-20">
  <div
    class={`w-full max-w-7xl mx-auto mb-10 px-4 md:px-8`}
  >
    <div class="max-w-5xl">

    <h1
      class={`text-4xl md:text-6xl max-w-full text-balance text-pretty font-extrabold tracking-tight leading-tight text-${color}-900 wrap-break-word`}
      transition:name="heading"
    >
      {title}
    </h1>
    {
      subtitle && (
        <p
          class={`text-lg md:text-2xl text-${color}-700 mt-10 max-w-3xl leading-relaxed font-normal`}
        >
          {subtitle}
        </p>
      )
    }
    {
      cta && (
        <div class="mt-10">
          {cta.map((item) => (
            <a
              href={item.href}
              class={`inline-block px-6 py-3 text-base font-medium text-white bg-primary-800 rounded-md hover:bg-primary-700 transition-colors`}
            >
              {item.label}
            </a>
          ))}
        </div>
      )
    }
    </div>
  </div>
  <div class={`border-t border-${color}-900/10 max-w-7xl mx-auto py-6 lg:py-8 h-1`}></div>
</div>
