---
export interface Props {
  title: string;
  subtitle?: string;
  color: Color;
}

const { title, color = "primary", subtitle } = Astro.props;
---

<div class="pt-14 lg:pt-20">
  <div
    class={`w-full pb-12 max-w-7xl mx-auto mb-10 px-4 md:px-10 border-b border-${color}-900/10 lg:pb-16`}
  >
    <h1
      class={`text-4xl md:text-6xl max-w-6xl text-balance font-extrabold tracking-tight leading-tight text-${color}-900 wrap-break-word`}
      transition:name="heading"
    >
      {title}
    </h1>
    {
      subtitle && (
        <p
          class={`text-lg md:text-xl text-${color}-700 mt-6 max-w-2xl leading-relaxed font-medium`}
        >
          {subtitle}
        </p>
      )
    }
  </div>
</div>
