---
import card from "../../assets/images/sites-Web-et-de-Web-Applications-sur-Annecy-Lyon-Geneve-et-Lausanne.jpg";
import faviconImage from "../../assets/images/favicon.svg";
import Favicon from "./Favicon.astro";

type Props = {
  title: string;
  metaTitle?: string;
  description: string;
  color?: string;
};

// remove .html from pathname because build use file instead folder
const pathname = new URL(Astro.request.url).pathname.replace(".html", "");

const SITE_URL = import.meta.env.SITE_URL;

const { title, description, metaTitle, color = "primary" } = Astro.props;

let themeColor = "#08556C";
switch (color) {
  case "casper":
    themeColor = "#424d66";
    break;
  case "summer-green":
    themeColor = "#22322d";
    break;
  case "alto":
    themeColor = "#4e4e4e";
    break;
  case "secondary":
    themeColor = "#6b3d23";
    break;
  default:
    themeColor = "#08556C";
    break;
}
---

<title>{metaTitle || title}</title>
<meta name="robots" content="index, follow" />
<meta name="description" content={description} />
<meta content={metaTitle || title} name="twitter:title" />
<meta content={description} name="twitter:description" />
<link rel="icon" type="image/svg+xml" href={faviconImage.src} />
<meta content="@PatrickFaramaz" name="twitter:site" />
<meta content="@PatrickFaramaz" name="twitter:creator" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content={`${SITE_URL}${card.src}`} />
<meta content={metaTitle || title} name="og:title" />
<meta content={description} name="og:description" />
<meta content="website" name="og:type" />
<meta property="og:image" content={`${SITE_URL}${card.src}`} />
<meta content={`${SITE_URL}${card.src}`} name="og:image" />
<meta content="Goodmotion" name="og:site_name" />
<meta content="fr" name="og:locale" />
<meta name="theme-color" content={themeColor} />
<!-- <link
  rel="alternate"
  hreflang="fr-FR"
  href={`https://www.goodmotion.fr${pathname}`}
/>
<link
  rel="alternate"
  hreflang="fr-CH"
  href={`https://www.goodmotion.ch${pathname}`}
/> -->
<link rel="alternate" hreflang="x-default" href="https://www.goodmotion.fr" />
<link rel="canonical" href={`${SITE_URL}${pathname}`} />
<link rel="home" href={`${SITE_URL}`} />
<link rel="sitemap" href="/sitemap-index.xml" />
<Favicon />
