---
import card from "../../assets/images/sites-Web-et-de-Web-Applications-sur-Annecy-Lyon-Geneve-et-Lausanne.jpg";
import favicon from "../../assets/images/favicon.svg";

type Props = {
  title: string;
  description: string;
};

const pathname = new URL(Astro.request.url).pathname;

const SITE_URL = import.meta.env.SITE_URL;

const { title, description } = Astro.props;
---

<title>{title}</title>
<meta name="robots" content="index, follow" />
<meta name="description" content={description} />
<meta content={title} name="twitter:title" />
<meta content={description} name="twitter:description" />
<link rel="icon" type="image/svg+xml" href={favicon.src} />
<meta content="@PatrickFaramaz" name="twitter:site" />
<meta content="@PatrickFaramaz" name="twitter:creator" />
<meta name="twitter:image" content={`${SITE_URL}${card.src}`} />
<meta content={title} name="og:title" />
<meta content={description} name="og:description" />
<meta content="website" name="og:type" />
<meta property="og:image" content={`${SITE_URL}${card.src}`} />
<meta content={`${SITE_URL}${card.src}`} name="og:image" />
<meta content="Goodmotion" name="og:site_name" />
<meta content="fr" name="og:locale" />
<link
  rel="alternate"
  hreflang="fr-FR"
  href={`https://www.goodmotion.fr${pathname}`}
/>
<link
  rel="alternate"
  hreflang="fr-CH"
  href=`https://www.goodmotion.ch${pathname}`
/>
<link rel="alternate" hreflang="x-default" href="https://www.goodmotion.fr" />
<link rel="sitemap" href="/sitemap-index.xml" />
