---
import HeroPage from "../components/HeroPage.astro";
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
const colors: Color[] = [
  //   "primary",
  "casper",
  "secondary",
  "summer-green",
  "alto",
];
const randomColor: Color = colors[Math.floor(Math.random() * colors.length)];
---

<BaseLayout
  title={frontmatter.title}
  description={frontmatter.description}
  color={randomColor}
>
  <HeroPage title={frontmatter.title} color={randomColor} />
  <div
    class="prose prose-lg md:prose-xl mx-auto pt-20 pb-20 px-4 md:px-10 max-w-6xl page-content"
  >
    <slot />
  </div>
</BaseLayout>
<style is:global>
  .page-content a {
    @apply text-accent-600 hover:text-accent-700;
  }
</style>
